obj/licensemanager.csproj.EntityFrameworkCore.targets
obj/licensemanager.csproj.nuget.cache
obj/licensemanager.csproj.nuget.g.props
obj/licensemanager.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/licensemanager.dll
obj/Debug/netcoreapp2.2/licensemanager.pdb
obj/Debug/netcoreapp2.2/licensemanager.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/licensemanager.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/licensemanager.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/licensemanager.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/licensemanager.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/licensemanager.assets.cache
obj/Debug/netcoreapp2.2/licensemanager.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/licensemanager.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/licensemanager.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/project.razor.json
bin/Debug/netcoreapp2.2/licensemanager.dll
bin/Debug/netcoreapp2.2/licensemanager.pdb
bin/Debug/netcoreapp2.2/licensemanager.deps.json
bin/Debug/netcoreapp2.2/licensemanager.runtimeconfig.json
bin/Debug/netcoreapp2.2/licensemanager.runtimeconfig.dev.json
